In [1]:
# Tuples it's does support mutability

In [2]:
tuples = (1, 2, 3)

In [3]:
type(tuples)

tuple

In [4]:
tuples = (1, "two", 3.1)

In [7]:
# indexing 
tuples[2]

3.1

In [8]:
# slicing
tuples[1:]

('two', 3.1)

In [9]:
# it counts how many times it occurs in the tuples
tuples.count(1)

1

In [11]:
# the index of the first time it occurs
tuples.index('two')

1

In [12]:
# it doesn't support mutability...it is immutable
tuples[0] = 'One'

TypeError: 'tuple' object does not support item assignment

In [13]:
# Sets

In [14]:
myset = set()

In [15]:
myset.add(1)

In [16]:
# it looks similar to a dictionary but it doesnt have key values
myset

{1}

In [17]:
myset.add(2)

In [18]:
myset

{1, 2}

In [19]:
# it is unique, can't contain the same value twice
myset.add(2)
myset

{1, 2}

In [20]:
myset.add("three")

In [21]:
myset

{1, 2, 'three'}

In [22]:
mylist = [1, 1, 1, 2, 2, 4, 5, 3, 3]

In [23]:
# it just return the unique value
set(mylist)

{1, 2, 3, 4, 5}

In [24]:
# Booleans i.e True or False, First letter must be capitalize unless python would think you are trying to assign a variable

In [25]:
type(True)

bool

In [26]:
1 == 2

False

In [27]:
2 > 1

True