In [2]:
def square(num):
    return num**2

In [3]:
my_nums = [1,2,3,4,5]

In [5]:
# Implementating Map Function
for item in map(square, my_nums):
    print(item)

1
4
9
16
25

In [7]:
# Another way in which you want it to return as a list 
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [10]:
# Another Example using Map
def splicer(mystring):
    if len(mystring)% 2 == 0:
        return "EVEN"
    else:
        return mystring[0]

In [11]:
names = ['Andy', 'Eve', 'Sally']

In [12]:
list(map(splicer, names))

['EVEN', 'E', 'S']

In [13]:
# Filter Function is used to iterate over a function that is either true or false
def check_even(num):
    return num%2 == 0

In [14]:
mynums = [1,2,3,4,5,6]

In [16]:
list(filter(check_even, mynums))

[2, 4, 6]

In [18]:
 
def square(num):
    result = num**2
    return result

In [19]:
square(3)

9

In [20]:
# Converting the above function to Lamda Expression
square =lambda num: num **2

In [21]:
square(5)

25

In [22]:
# Using Lambda expression with map function to avoid writing multiple lines
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [23]:
# Using Lambda expression with filter function to avoid writing multiple lines
list(filter(lambda num:num%2 == 0, mynums))

[2, 4, 6]

In [24]:
names

['Andy', 'Eve', 'Sally']

In [27]:
list(map(lambda name:name[0], names))

['A', 'E', 'S']