In [32]:
# Write a function that computes the volume of a sphere given its radius

In [5]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [6]:
vol(2)

33.49333333333333

In [8]:
# Write a function that checks whether a number is in a given range(inclusive of high and low)

In [10]:
def ran_check(num,low,high):
    if num in range(low, high+1):
        print(f'{num} is in range of {low} and {high}')
    else:
        print('not in range')

In [11]:
ran_check(5,2,7)

5 is in range of 2 and 7

In [12]:
# Write a python function that accepts a string and calculates the number of upper case letters and lower case letters

In [13]:
def up_low(s):
    lowercase = 0
    uppercase = 0
    
    for char in s:
        if char.isupper():
            uppercase += 1
        elif char.islower():
            lowercase += 1
#         Else for if it is neither upper nor lowercase
        else:
            pass
    print(f"Original String : {s}")
    print(f"Lowercase count : {lowercase}")
    print(f"Uppercase count : {uppercase}")

In [14]:
s = "My Name Is Muminat , How are you doing Today?"
up_low(s)

Original String : My Name Is Muminat , How are you doing Today?
Lowercase count : 28
Uppercase count : 6

In [15]:
# Write a python function that takes alist and returns a new list with unique elements of the first list

In [19]:
def unique_list(lst):
    return list(set(lst))

In [20]:
unique_list([1,1,1, 1,2,2,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [21]:
# Write a python function to multiple all the numbers in alist

In [27]:
def multiply(numbers):
    total =1 
    for num in numbers:
        total = total * num
    return total

In [28]:
multiply([1,2,3,-4])

-24

In [29]:
# Write a python function that checks whether a word in a palindrome

In [33]:
def palindrome(s):
    #Remove the spaces from the string
    s = s.replace(' ','')
    # Check if the string is == reversed version of the string
    return s == s[::-1]

In [34]:
palindrome("nurses run")

True

In [ ]:
# Write a python function to chec