In [4]:
((10 * 10)/100 )+ 100- 0.75

100.25

In [5]:
8.5*2

17.0

In [6]:
58.5

58.5

In [7]:
%8.5

UsageError: Line magic function `%8.5` not found.

In [11]:
string = "hello"
string[1]

'e'

In [18]:
s = "hello"
s[-1:0]

''

In [21]:
s = "hello"
s[-1]

'o'

In [24]:
# Comparison OPerators

In [25]:
2 == 2 
# Equal To

True

In [27]:
'hello' != 'Hello'

True

In [28]:
2.0 == 2

True

In [29]:
2.5 == 5 * 0.5

True

In [30]:
2 < 5

True

In [32]:
# Comparison Operators are ==, < , >, >= , <= , !=
#logical Operators are and, or , not

In [33]:
1 < 2 and 2 < 3

True

In [34]:
("h" == 'h') and (2 == 3)
# parenthesis depends on choice
# and means both have to be true to be true

False

In [35]:
"h" == 'h' or 2 == 3
# or means at least one has to be true to be true

True

In [36]:
not 1 == 1
# not is the opposite of the initial answer

False

In [37]:
not 1 == 2

True

In [38]:
# python statements

In [40]:
# 1.if, elif and else statement
if 3 > 2:
    print('ITS TRUE!')

ITS TRUE!

In [1]:
hungry = False
if hungry:
    print("FEED ME")
else:
    print('i am not hungry' )

i am not hungry

In [4]:
loc ='Bank'
if loc == 'Auto shop':
    print("Cars are cool")
elif loc == 'Bank':
    print("Money is cool")
else:
    print("i don't know much")

Money is cool

In [7]:
name = "Muminat"
if name == 'Yomi':
    print("Hi Yomi")
elif name == 'Ayomide':
    print("Hello Ayo")
else:
    print("Namaste Muminat")

Namaste Muminat

In [8]:
# 2. for Loops
my_loops = [1, 2, 3]
for my_loop in my_loops:
    print(my_loop)

1
2
3

In [9]:
my_name = ["Adefabi", "Muminat", "Oriyomi"]
for oruko in my_name:
    print(oruko)

Adefabi
Muminat
Oriyomi

In [13]:
mylist = [1,2, 3,4, 5, 6,7,8,9, 10, 11,12,13]
for num in mylist:
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [15]:
mylist = [1,2, 3,4, 5, 6,7,8,9, 10, 11,12,13]
for num in mylist:
#     to check if it is even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10
Odd Number: 11
12
Odd Number: 13

In [16]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
print(list_sum)

91

In [17]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)
#     if there is an indentation, it shows the addition gradually

1
3
6
10
15
21
28
36
45
55
66
78
91

In [18]:
mylist = "Hello World"
for ghgh in mylist:
    print(ghgh)

H
e
l
l
o

W
o
r
l
d

In [19]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [20]:
mylist = [(1,2), (3, 4), (5,6), (7,8)]

In [21]:
for items in mylist:
    print(items)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [23]:
# Tuples Unpacking
for (a, b) in mylist:
#     the parenthesis is not compulsory
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [24]:
mylist = [(1,2,3), (6,7,8), (9,10, 11)]
for a, b,c in mylist:
    print(c)

3
8
11

In [25]:
dictionary = {'k1': 1, 'k2': 2, 'k3': 3}

In [27]:
# to print out the keys
for items in dictionary:
    print(items)

k1
k2
k3

In [30]:
# to get keys and values
for items in dictionary.items():
    print(items)

('k1', 1)
('k2', 2)
('k3', 3)

In [31]:
# to get values
for key,value in dictionary.items():
    print(value)

1
2
3

In [32]:
# 3. While Loops

In [ ]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')

In [ ]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1

In [ ]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1

In [36]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x = x +1
else:
    print("X is less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is less than 5

In [37]:
# break : Breaks out of the current closest enclosing loop
# continue:continue to the top of  closest enclosing loop
# pass : Does nothing at all

In [39]:
x = [1, 2, 3]
for item in x:
    pass
print('end of my script')

end of my script

In [40]:
mystring = "Sammy"
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [41]:
mystring = "Sammy"
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [42]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [43]:
# Useful Operators in Python

In [48]:
for num in range(90,101, 2):
    print(num)

90
92
94
96
98
100

In [49]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [51]:
index_count = 0

for letter in 'abcde':
    print('At index () the letter is {}'.format(index_count, letter))
    index_count += 1

At index () the letter is 0
At index () the letter is 1
At index () the letter is 2
At index () the letter is 3
At index () the letter is 4